Django==5.1.1
django-environ==0.11.2
django-crispy-forms==2.1
django-redis==5.4.0
djangorestframework==3.14.0
drf-spectacular==0.27.0

# Serveur et déploiement
gunicorn==21.2.0
whitenoise==6.6.0

# Tests et qualité de code
pytest==7.4.3
pytest-django==4.7.0
flake8==6.1.0
black==23.11.0
isort==5.12.0

# Monitoring et logging
sentry-sdk==1.38.0
django-debug-toolbar==4.2.0

# Sécurité
django-cors-headers==4.3.1
Pillow==11.0.0
